[Unit]
Description=Plan9 plumber
After=network.target
StartLimitIntervalSec=0

[Service]
Slice=plan9.slice
Environment=MNTPT=/mnt
Type=forking
Restart=always
RestartSec=1
ExecStart=/bin/bash -c 'PATH=/opt/plan9:$PATH plumber'
ExecStartPost=/bin/bash -c 'PATH=/opt/plan9:$PATH /opt/plan9/bin/mount $(/opt/plan9/bin/namespace)/plumb $MNTPT/plumb'
ExecStop=/bin/bash -c 'PATH=/opt/plan9:$PATH pkill -x plumber'
ExecStopPost=/bin/bash -c 'PATH=/opt/plan9:$PATH /opt/plan9/bin/unmount $MNTPT/plumb'

[Install]
WantedBy=plan9.target
